# Importing Libraries

* System Append to set proper path

In [3]:
sys.path.append('../Source/Utils')

* Default

In [4]:
import lasio
import pandas as pd
import numpy as np
from collections import Counter

* Pandas Options

In [5]:
pd.set_option('max_columns', None)

* Source Code

In [6]:
import welllog

* Tqdm Progress Bar

In [7]:
%%capture
from tqdm import tqdm_notebook

# Reading Miscellaneous Data

In [8]:
file_path = '../data/Lithology code data.xlsx'

file_path2 = '../data/NPD stratigraphic picks north sea.xlsx'

litho_code = pd.read_excel(file_path)

picks = pd.read_excel(file_path2)

* Lithology Code

In [21]:
litho_code.head

<bound method NDFrame.head of                 Unnamed: 0      Unnamed: 1            Unnamed: 2    Unnamed: 3
0                Lithology           Color   Lithology Attribute  Abbreviation
1        Aeolian Sandstone     LightYellow      CrossBedded Sand            35
2                Anhydrite   Light Magenta             Anhydrite            22
3   Argillaceous Limestone     Dodger Blue                 Chalk            12
4                   Arkose  LightGoldenrod                Gravel            36
5                 Basement          Salmon             Intrusive            23
6            Biogenic Ooze      DarkYellow           Sandy Shale            25
7        Calcareous Cement            Cyan       Sandy Limestone            16
8   Calcareous Debris Flow       Turquoise               Breccia            31
9         Calcareous Shale        DarkCyan      Calcareous Shale            14
10              Carnallite         Magenta                Halite            33
11                   Chalk       SlateBlue                 Chalk             9
12                Cinerite            Cyan             Extrusive            19
13                    Coal           Black                  Coal            18
14            Conglomerate    Light Yellow          Conglomerate            17
15        Cross Bedded Sst            Gold      CrossBedded Sand             3
16                Dolomite            Cyan             Dolomite2            15
17                     Gap           White                Gypsum            26
18                  Halite            Pink                Halite            21
19                 KaÃ¯nite   LavenderBlush                Halite            34
20               Limestone       SlateBlue             Limestone            11
21               Marlstone     DeepSkyBlue                 Chalk            13
22        Metamorphic Rock       Dark Cyan            Shaly Sand            30
23           Plutonic Rock             Red             Intrusive            24
24              Polyhalite       LightPink                Halite            32
25        Porous Limestone       SlateBlue  Calcareous Sandstone            10
26               Sandstone          Yellow                  Sand             1
27              Sandy Silt             Tan       Shaly Sandstone             4
28                   Shale        DarkCyan                 Shale             8
29              Shaly Silt      DarkYellow                  Silt             6
30                    Silt     LightSalmon                  Silt             5
31              Silty Sand     LightYellow                  Sand             2
32             Silty Shale       DarkGreen                 Shale             7
33               Spiculite      MediumGray                 Chert            29
34               Sylvinite    LightMagenta                Halite            27
35           Volcanic Rock          Orange             Extrusive            28
36           Volcanic Tuff          Tomato             Extrusive            20
37                     NaN             NaN                   NaN       -999,25>

        * Fixing Columns IDs

In [22]:
litho_code.columns = litho_code.iloc[0]

        * Droping first row (as it has become the columns ids now)

In [25]:
litho_code.drop(index=0, inplace=True)

        * Checking Final Result

In [29]:
litho_code.head(5)

0               Lithology           Color Lithology Attribute Abbreviation
1       Aeolian Sandstone     LightYellow    CrossBedded Sand           35
2               Anhydrite   Light Magenta           Anhydrite           22
3  Argillaceous Limestone     Dodger Blue               Chalk           12
4                  Arkose  LightGoldenrod              Gravel           36
5                Basement          Salmon           Intrusive           23

* Stratigraphic Picks

In [30]:
picks.head(n=2)

,Unnamed: 0,Well identifier,Surface,X,Y,Z,MD,Geological age,TVT,TST,Interpreter,Observation number
0,21675,10/4-1,CROMER KNOLL GP. Top,628531.41,6394710.62,-1350.90,1382.0,4.21,NaN,NaN,NPD,1
1,21660,10/4-1,Roedby Fm. Top,628531.41,6394710.62,-1350.90,1382.0,98.90,NaN,NaN,NPD,1
2,21656,10/4-1,Sola Fm. Top,628531.47,6394710.62,-1381.90,1413.0,102.50,NaN,NaN,NPD,1
3,21664,10/4-1,Aasgard Fm. Top,628531.50,6394710.61,-1397.90,1429.0,117.00,NaN,NaN,NPD,1
4,21668,10/4-1,VESTLAND GP. Top,628531.27,6394713.59,-2242.88,2274.0,1.00,NaN,NaN,NPD,1

        * Renaming Unidentified Column

In [31]:
picks.rename(columns={'Unnamed: 0': 'Unidentified Column'}, inplace=True)

        * Checking Result

In [35]:
picks.head(n=2)

,Unidentified Column,Well identifier,Surface,X,Y,Z,MD,Geological age,TVT,TST,Interpreter,Observation number
0,21675,10/4-1,CROMER KNOLL GP. Top,628531.41,6394710.62,-1350.9,1382.0,4.21,NaN,NaN,NPD,1
1,21660,10/4-1,Roedby Fm. Top,628531.41,6394710.62,-1350.9,1382.0,98.90,NaN,NaN,NPD,1

# Reading Las files Dataset

In [34]:
path = '..//data/GEOLINK_Lithology and wells NORTH SEA/'

npd_wells = welllog.read_las_directory(path)

HBox(children=(FloatProgress(value=0.0, description='Reading all las files from folder', max=223.0, style=Progâ¦

* Las files Glance

In [ ]:
print('Number of Las Files read: ' + str(len(npd_wells)))
print('##########################')
print('Las files ID: ' + str(npd_wells.keys()))
print('##########################')
print(str(npd_wells['15_9-12'].curves))

        Note: The Mnmonic Table above does not necessarily represent all the available log curves on the dataset

# Data Processing

* Checking unmatching unit of measurement for each log curve

In [16]:
unit_mismatch_list = welllog.unit_check(npd_wells)

HBox(children=(FloatProgress(value=0.0, description='Checking unmatching unit of measurements', max=223.0, styâ¦

It was found a total of 0 unmatching unit of measurement in the dataset. Please, check the flag output for proper adjustments

* Converting all las files to dataframe

In [17]:
npd_wells_df = {}

for id in tqdm_notebook(list(npd_wells.keys()), desc='Converting to dataframe'):

    npd_wells_df[id] = npd_wells[id].df()

HBox(children=(FloatProgress(value=0.0, description='Converting to dataframe', max=223.0, style=ProgressStyle(â¦

* Creating Logs Dataframes

        * Selected Logs

In [18]:
logs_list = ['RHOB', 'DTC', 'GR', 'NPHI', 'RDEP', 'CALI']

        * Filling in Dataframes