# Importing Libraries

* System Append to set proper path

In [1]:
sys.path.append('../')

* Default

In [2]:
import lasio
import pandas as pd
import numpy as np

* Source Code

In [3]:
from source.utils import welllog

* Tqdm Progress Bar

In [4]:
%%capture
from tqdm import tqdm_notebook

# Reading Miscellaneous Data

In [5]:
file_path = '../data/Lithology code data.xlsx'

file_path2 = '../data/NPD stratigraphic picks north sea.xlsx'

litho_code = pd.read_excel(file_path)

picks = pd.read_excel(file_path2)

* Lithology Code

In [6]:
litho_code.head(n=2)

          Unnamed: 0   Unnamed: 1           Unnamed: 2    Unnamed: 3
0          Lithology        Color  Lithology Attribute  Abbreviation
1  Aeolian Sandstone  LightYellow     CrossBedded Sand            35

        * Fixing Columns IDs

In [8]:
litho_code.columns = litho_code.iloc[0]

        * Droping first row (as it has become the columns ids now)

In [10]:
litho_code.drop(index=0, inplace=True)

        * Checking Final Result

In [11]:
litho_code.head(n=2)

0          Lithology          Color Lithology Attribute Abbreviation
1  Aeolian Sandstone    LightYellow    CrossBedded Sand           35
2          Anhydrite  Light Magenta           Anhydrite           22

* Stratigraphic Picks

In [7]:
picks.head(n=2)

,Unnamed: 0,Well identifier,Surface,X,Y,Z,MD,Geological age,TVT,TST,Interpreter,Observation number
0,21675,10/4-1,CROMER KNOLL GP. Top,628531.41,6394710.62,-1350.9,1382.0,4.21,NaN,NaN,NPD,1
1,21660,10/4-1,Roedby Fm. Top,628531.41,6394710.62,-1350.9,1382.0,98.90,NaN,NaN,NPD,1

        * Renaming Unidentified Column

In [13]:
picks.rename(columns={'Unnamed: 0': 'Unidentified Column'}, inplace=True)

        * Checking Result

In [14]:
picks.head(n=2)

,Unidentified Column,Well identifier,Surface,X,Y,Z,MD,Geological age,TVT,TST,Interpreter,Observation number
0,21675,10/4-1,CROMER KNOLL GP. Top,628531.41,6394710.62,-1350.9,1382.0,4.21,NaN,NaN,NPD,1
1,21660,10/4-1,Roedby Fm. Top,628531.41,6394710.62,-1350.9,1382.0,98.90,NaN,NaN,NPD,1

# Reading Las files Dataset

In [ ]:
path = '..//data/'